extends layout

block content
  h1= title
  - let kite = results
    div(class="container-fluid")
    div(class="row")
      each item,index in kite
        div(class="col-sm-2",onClick=`buy(${index})`)
          p Color is #{item.Kite_color}
          p Length is #{item.Kite_length}
          p Cost is #{item.Kite_cost}
          p Sides are #{item.Kite_sides}

  //- Bonus Logic
  script.
    function buy(itr) {
      itr = itr+1;
      alert(`You Purchased Item ${itr}`);
    }